html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: white;
}

body {
  color: var(--color-scheme-4-text);
  background: var(--color-scheme-4-background);
  font-family: var(--font-inter);
}

main {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  cursor: pointer;
}
